ul{
  list-style: none;
}

li{line-height: 1.5rem;}

.App {
  background-image: url("./assets/XT205511.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  justify-Content: center;
  align-items: center;
  align-content: center;
  font-family: 'Nunito', sans-serif;
  background-color:lightblue;
}

#wrapper {
  height: 80%;
}

