@import './assets/sass/base';

.app {
  background-image: url('./assets/singapore_medium.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
